	#veggEn {
		width:60px;
		height:90px;
		margin-left:0px;
		margin-top:-363px;
		position:relative;
	}
	#veggTo {
		width:60px;
		height:90px;
		margin-left:115px;
		margin-top:-90px;
		position:relative;
	}
	#veggTre {
		width:50px;
		height:60px;
		margin-left:175px;
		margin-top:-90px;
		position:relative;
	}
	#veggFire {
		width:360px;
		height:60px;
		margin-left:0px;
		margin-top:30px;
		position:relative;
	}
	#veggFem {
		width:60px;
		height:100px;
		margin-left:300px;
		margin-top:0px;
		position:relative;
	}
	#veggSeks {
		width:60px;
		height:150px;
		margin-left:115px;
		margin-top:-100px;
		position:relative;
	}
	#veggSju {
		width:60px;
		height:160px;
		margin-left:10px;
		margin-top:-100px;
		position:relative;
	}
	#veggAtte {
		width:430px;
		height:60px;
		margin-left:70px;
		margin-top:-60px;
		position:relative;
	}
	#veggNi {
		width:60px;
		height:240px;
		margin-left:440px;
		margin-top:-300px;
		position:relative;
	}
	#veggTi {
		width:97px;
		height:60px;
		margin-left:500px;
		margin-top:-240px;
		position:relative;
	}
	#veggElleve {
		width:300px;
		height:60px;
		margin-left:500px;
		margin-top:40px;
		position:relative;
	}
	#veggTolv {
		width:60px;
		height:139px;
		margin-left:610px;
		margin-top:0px;
		position:relative;
	}
	#veggTretten {
		width:60px;
		height:240px;
		margin-left:800px;
		margin-top:-240px;
		position:relative;
	}
	#veggFjorten {
		width:300px;
		height:60px;
		margin-left:700px;
		margin-top:-299px;
		position:relative;
	}
	#veggFemten {
		width:60px;
		height:255px;
		margin-left:940px;
		margin-top:0px;
		position:relative;
	}
	#veggSeksten{
		width:60px;
		height:10px;
		margin-left:940px;
		margin-top:-10px;
		position:relative;
	}